{% extends 'main.html' %}

{% block content %}
<div id="sidebar">

    <div id="stories--header">
        <h3 id="total">Stories</h3>
        <button  class="btn">Write a story</button>
    </div>

    <div id="post--snippets">

    </div>
</div>

<div id="page--container">
    <div>

    </div>
    <h1>Title</h1>
    <br>
    <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aut quod minima tempora ipsam? Necessitatibus incidunt asperiores soluta esse tenetur molestiae similique qui aperiam. Repudiandae provident sit delectus beatae dicta.
    </span>
</div>
{% endblock %}